@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-inter);
  --color-darkpurple-grad: #1b0d29;
  --color-purple-grad: #1b0d2900;
  --color-violet: #5d4dbe;
  --color-light-gray: #e0e3e3;
  --color-dark-gray: #5c5f60;
  --color-gray: #747778;
  --color-light-beige: #fcfbf2;
  --color-golden-brown: #736e42;
  --color-offwhite: #d4d4d4;
  --color-subtle-black: #191c1d;
  --color-gray-3: #444748;
  --color-gray-4: #6c7580;
  --color-gray-5: #fbfdfd;
  --color-gray-6: #eff1f1;
  --color-gray-7: #a8a9a9;
  --color-gray-8: #878787;
  --color-gray-9: #c4c7c7;
  --color-light-violet: #e6deff;
  --color-dark-violet: #25103a;
  --color-light-black: #6c8080;
  --color-disabled-text: #979898;
  --color-disabled-button: #e4e4e4;
  --color-red: #ff5656;
  --color-violet-2: #c0aff3;
  --color-violet-3: #8174d9;
  --color-violet-4: #f5f5f5;
  --color-dark-red: #ba1b1b;
}

body {
  font-family: var(--font-inter), sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(143, 143, 143, 0.712);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 6px;
  background: #5d4dbe;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #5d4dbe;
}
.tox .tox-statusbar__path {
  display: none !important;
}
.tox
  .tox-collection--list
  .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
  background-color: #5d4dbe !important;
  color: #fff;
}

.tox .tox-tbtn--active,
.tox .tox-tbtn--enabled,
.tox .tox-tbtn--enabled:focus,
.tox .tox-tbtn--enabled:hover {
  background: #ececec !important;
  box-shadow: none;
  color: #ffffff;
}
.tox :not(svg):not(rect) {
  border: none !important;
}

.tox-tinymce {
  border: none !important;
  box-shadow: none !important;
}

.tox .tox-tbtn:focus::after {
  border-radius: 3px;
  bottom: 0;
  box-shadow: none !important;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.featureShadow {
    box-shadow: 0px 32px 129px rgba(87, 5, 107, 0.1)
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s linear infinite;
  background-size: 300% 100%;
}

:root {
}

@theme inline {
}

@layer base {
  * {
  }
  body {
  }
}
