/* breathing.css */

@keyframes stroke-inhale {
  0% {
    stroke-dashoffset: 565;
  }
  100% {
    stroke-dashoffset: 282.5;
  }
}

@keyframes stroke-exhale {
  0% {
    stroke-dashoffset: 282.5;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.stroke-animate-0 {
  animation: stroke-inhale 4s ease-in-out forwards;
}

.stroke-animate-2 {
  animation: stroke-exhale 4s ease-in-out forwards;
}

